.mainIcon{
    font-size: 35px;
}
.mainTable{
    width: 100%;
    thead{
        tr td{
            border-bottom: 1px solid #000;
            font-weight: bold;
            padding-bottom: 10px;
        }
    }
}
