@import '../base.scss';

.c-dashboard {

  .contain-date {
    display: flex;
    flex: wrap;

    div {
      flex-basis: 50%;
      margin-bottom: 20px;

      b {
        color: $color-6;
        display: block;
        font-family: $font-family-1;
        font-size: $font-size-normal;
        margin-bottom: 10px;
      }

      input {
        border: 0;
        display: block;
        outline: 0;
        padding: 10px;
        padding-left: 0;
        position: relative;
        width: calc(100% - 20px);

        &::before {
          background-color: $color-2;
          content: '';
          display: block;
          height: 2px;
          left: 0;
          position: absolute;
          top: 0;
          width: 30px;
        }

        &::after {
          background-color: $color-2;
          bottom: 0;
          content: '';
          display: block;
          height: 2px;
          left: 0;
          position: absolute;
          width: calc(100% - 20px);
        }
      }
    }
  }
}
