@import '../base.scss';

.c-sidebar {
  background-color: $color-1;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  overflow-y: auto;
  padding: 80px 0 45px;
  position: fixed;
  width: 100px;

  .sidebar-top {

    h1 {
      color: $color-3;
      font-family: $font-family-3;
      font-size: $font-size-big;
      padding: 0 30px 25px;
      position: relative;

      &::before {
        background-color: $color-3;
        content: '';
        display: block;
        height: 4px;
        position: absolute;
        top: -10px;
        width: 84px;
      }
    }

    .sidebar-option {
      color: $color-3;
      display: block;
      font-family: $font-family-1;
      font-size: $font-size-xnormal;
      padding: 25px 30px;
      transition: border-right .4s ease-in-out;

      &:hover {
        //border-right: 15px solid $color-3;
      }

      &.sidebar-option-selected {
        //border-right: 15px solid $color-3;
      }
    }
  }

  .sidebar-bottom {

    button {
      display: block;
      margin: 0 auto;
      width: calc(100% - 50px);
    }
  }

  @media #{$mq-tablet} {
    width: 250px;
  }
}
