@import '../base.scss';

.l-content {
  height: 100%;
  padding: 20px 50px;
  position: absolute;
  right: 0;
  width: calc(100% - 100px);

  @media #{$mq-tablet} {
    width: calc(100% - 300px);
  }

  &.-basic {
    align-content: center;
    align-items: center;
    display: flex;
    justify-content: center;
  }

  &.-list-card {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
